@{
    ViewData["Title"] = "Contact";
}
<h2>Contact</h2>

<div>
    <p>
        For questions, comments, suggestions:
    </p>
</div>

<div>
    <p>
        <address>
            <strong>Email:</strong> <a href="mailto:michael.hansen@microsoft.com">Michael Hansen</a><br />
        </address>
    </p>
</div>