@{
    ViewData["Title"] = "US Presidential Inaugural Addresses - Sentiment Analysis";
}

<h1>US Presidential Inaugural Addresses - Sentiment Analysis</h1>

<div>
    <p>
        This is a demo application, which uses a sentiment analysis of US Presidential Inaugural Addresses to highlight several services available on the <a href="https://azure.microsoft.com/">Azure Cloud</a> platform.
    </p>
</div>

<div>
    <p>
        To get started, enter a search query below or just hit "Search". 
    </p>
</div>
<div style="margin-bottom: 50px; margin-top: 50px;">
    <form method="get" action="/Spiel">
        <input type="search" name="search" value="" />
        @Html.DropDownList("orderby", new[] {
            new SelectListItem { Value = "relevance", Text = "Relevance", Selected = false},
            new SelectListItem { Value = "spieldate", Text = "Date", Selected = true},
            new SelectListItem { Value = "sentiment desc", Text = "Sentiment (high to low)", Selected = false},
            new SelectListItem { Value = "sentiment asc", Text = "Sentiment (low to high)", Selected = false},
        }, new { onchange = "this.form.submit();" })
        <input type="submit" value="Search" onclick="this.form.submit();" />
    </form>
</div>

<h2>Features</h2>
<div>
    <p>
        This application allows you to search and browse all US Presidential Inaugural addresses. The speeches have ben analyzed using <a herf="https://azure.microsoft.com/en-us/services/cognitive-services/text-analytics/">Azure Cognitive Services</a> text analytics API.
        Each paragraph of a given speech has been analyzed separately, and the sections are color coded according to sentiment.
        The sentiment score for each paragraph is also listed next to each paragraph.
    </p>
</div>

<div>
    <p>
        The application illustrates a number of core <a href="">Azure</a> services:
    </p>
</div>
<div>
    <p>
        <ul>
            <li><a href="https://azure.microsoft.com/en-us/services/app-service/web/">Azure Web Apps</a> (this is where the aplication is hosted)</li>
            <li><a href="https://azure.microsoft.com/en-us/services/cognitive-services/text-analytics/">Azure Cognitive Services</a> (used to analyze the text)</li>
            <li><a href="https://azure.microsoft.com/en-us/services/cosmos-db/">Cosmos DB</a> (document database used to store the speeches and analysis)</li>
            <li><a href="https://azure.microsoft.com/en-us/services/search/">Azure Search</a> (providing an easy-to-use search engine for the speeches)</li>
        </ul>
    </p>
</div>

<h2>Blog posts and background information</h2>
<div>
    <p>
        The key pieces of this application is described in the a <a href="https://blogs.msdn.microsoft.com/mihansen/2017/08/31/sentiment-analysis-of-us-presidential-inaugural-addresses/">blog post on sentiment analysis of inaugural addresses</a> and a <a href=" https://blogs.msdn.microsoft.com/mihansen/2017/09/09/searchable-sentiment-analysis-archive">blog post on this search able database</a> of the results. 
    </p>
</div>

<h2>Data Sources</h2>
<div>
    The text for the inagural addresses was downloaded from the <a a href="http://www.presidency.ucsb.edu/inaugurals.php">The American Presidency Project</a>. 
    As described in this <a href="https://blogs.msdn.microsoft.com/mihansen/2017/08/31/sentiment-analysis-of-us-presidential-inaugural-addresses/">blog post</a>, the addresses were downloaded automatically and the text extracted and a paragraph-by-paragrah sentiment analysis was done using the <a href="https://azure.microsoft.com/en-us/services/cognitive-services/text-analytics/">Azure Cognitive Services</a> text analytics API. 
    If you would like to work on the data yourself, we have provided the <a href="https://mihansen.blob.core.windows.net/inaugurals/inaugurals_raw.zip">raw address json files</a> (before sentiment analysis) and also the <a href="https://mihansen.blob.core.windows.net/inaugurals/inaugurals_analyzed.zip">documents including the text analysis</a>.
    The latter package of json files is what was uploaded to the DocumentDB/CosmosDB for this example application.  
</div>